<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Feedback</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Feedback</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title><h1>Why did I choose this movie?</h1> </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-label class="ion-text-wrap">
        <p>
          This is the very first movie that make shine, not  only because of the story, but also because of the characters. I have always been a fan of Mario Bros, and this movie is the best of all.
          <br>
          <br>
          I would like to share with you the trailer of this movie, so you can see why I chose it. Just tap the link below.
          <br>
          <br>
          <a href="https://www.youtube.com/watch?v=TnGl01FkMMo">Click here to watch it.</a>
        </p>
      </ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>
