<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Characters</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Characters</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item-group class="ion-padding">
    <ion-item>
      <img src="https://pbs.twimg.com/media/FixaLSOUcAA2lVU.jpg" alt="Princess Peach" width="100%" height="90%">
    </ion-item>
    <ion-item>
      <h1>Princess Peach</h1>
    </ion-item>
    <ion-item>
      <p>
        She brings herself along for the adventure and assists Mario in a attempt to stop Bowser. She plays a bigger role in the film than just being a typical damsel-in-distress like in certain games in the Mario franchise.
      </p>
    </ion-item>
    <ion-item>
      <p>
        <b><a href="/characters"><< Back</a></b>  or <b><a href="/characters2">Next >></a></b>
      </p>
    </ion-item>
  </ion-item-group>
</ion-content>
