<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contact Me</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Contact-Me</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card color="light">
    <ion-card-header>
      <ion-card-title>Introduction</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-label class="ion-text-wrap">
        This is the home page. It is the first page that you see when you open the app. However, this also the page when you may ask, "who is this guy?". In order for you to get to know more about this whole app, you just need to tap the arrow at the top right or swipe left.
      </ion-label>
    </ion-card-content>
  </ion-card>
  
  <ion-item-group class="ion-padding">
    <ion-item color="light">
      <ion-thumbnail slot="start">
        <img alt="jorge Sepulveda's face" src="https://jlsa-intro.000webhostapp.com/profile.png" />
      </ion-thumbnail>
      <ion-label class="ion-text-wrap"> 
        <h5><b>Software developer</b></h5>
        <p>
          I am Jorge Sepúlveda, a software developer who is currently studying at ITLA.
        </p>
      </ion-label>
    </ion-item>
    <hr>
    <ion-item color="light">
      <ion-label> 
        <ul>
          <li>
            <img src="https://cdn.icon-icons.com/icons2/2777/PNG/512/coding_website_icon_176928.png" width="20" height="20" class="d-inline-block align-top img-style" alt="">
            2020-10714
          </li>
          <li>
            <img src="https://cdn.icon-icons.com/icons2/1689/PNG/512/3925423-business-card-id-id-icon_111566.png" width="20" height="20" class="d-inline-block align-top img-style" alt="">
            202010714@itla.edu.do
          </li>
          <li>
            <img src="https://cdn.icon-icons.com/icons2/2331/PNG/512/meeting_virutal_meeting_online_videocall_videconverence_icon_142244.png" width="20" height="20" class="d-inline-block align-top img-style" alt="">
            Prof. Amadis Suares
          </li>
          <li>
            <img src="https://cdn.icon-icons.com/icons2/2331/PNG/512/working_work_freelance_home_office_icon_142249.png" width="20" height="20" class="d-inline-block align-top img-style" alt="">
            Sección #3
          </li>
          <li>
            <img src="https://cdn.icon-icons.com/icons2/2331/PNG/512/task_document_paper_descending_priority_tasks_documents_icon_142254.png" width="20" height="20" class="d-inline-block align-top img-style" alt="">
            5<sup>th</sup> assignment
          </li>
        </ul>
      </ion-label>
    </ion-item>
  </ion-item-group>
</ion-content>
